<div class = "filter">
  <form (submit) = "filter()">
    <input type="number" name="min" [(ngModel)] = "price.min" placeholder="Min price"> &nbsp;
    <input type="number" name="max" [(ngModel)] = "price.max" placeholder="Max price">
    <button  type = "submit" class = "filterbtn">Filter</button>
  </form>
</div>
<div class="cart">

    <!-- routerLink='/cake/{{cards.cakeid}}' -->
    <div 
      appHovering
      *ngFor="let cards of cakesort; let i = index"
      class="card"
      style="width: 18rem" (click)="cakeDetails(i)"
    >
    <span class="veg" *ngIf="cards.eggless">🟢</span>
    <span class="veg" *ngIf="!cards.eggless">🔴</span>
      <img src="{{ cards.image }}" class="card-img-top imgSize" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Name:&nbsp;{{ cards.name }}</h5>
        <p class="card-text">Price:&nbsp;₹ {{ cards.price }} </p>
        <p class="card-text">Weight:&nbsp;{{ cards.weight }}kg</p>
      </div>
    </div>
  </div>
