.cardGrid{
    display : grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-left: 3rem;
}
.cardSize{
    max-width: 240px;
}
.cardimgsize{
    height: 180px;
}

.card-hover:hover{
    transform: scale(1.1);
    /* transition: all ; */
}