<nav class="navbar navbar-expand-lg navStyle">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="#"><i class="fas fa-store"></i> &nbsp; Baker's Street</a>
      <button *ngIf = "adminflag" class="btnAdmin btn btn-outline-success" routerLink = "/admin" ><i class="fas fa-user-shield"></i></button>
    </div>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

      <form class="d-flex">
        <input [(ngModel)]="searchValue" name = 'searchValue' class="form-style me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
        <button class="btn btn-outline-success btnstyle" type="submit" routerLink = "/login" *ngIf = "flag">Login</button>
        <button *ngIf="!flag" class="btnstyle btn btn-outline-success" routerLink = "/cart"> <i class="fas fa-shopping-cart"></i></button>
        <button *ngIf = "!flag" class="btnstyle btn btn-outline-success" routerLink = "/order" ><i class="fas fa-shopping-bag"></i>Order</button>
        <button *ngIf = "!flag" class="btnstyle btn-outline" (click)="logout()">Logout</button>
      </form>


    <!-- </div> -->
  </div>
</nav>




