<div class="signupForm">
    <form action="#" >
        <div class="nameDiv">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
        </div>

        <div class="emailDiv">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>


        <div class="passDiv">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <div class="submit">
            <input type="submit"  value="Signup"> 
        </div>
        
    </form>

</div>
